* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #004175;
    color: #ffffff;
    padding: 10px 10px 10px 30px;
    border-bottom: 3px solid #89deef;
    max-height: 125px;
    align-content: center;
    }

section {
    padding: 30px;
}

h3 {
    font-family: "Oswald", sans-serif;
}

.dogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog-card {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
}

ul {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style-type: none;
    background-color: #89deef;
    margin: 5px;
    padding: 5px;
    border-radius:20px;
    display: inline;
}

.dog-card img {
    max-width: 100%;
    max-height: auto;
}

footer {
    display: flex;
    font-family: "Oswald", sans-serif;
    font-size: 38px;
    color: #ffffff;
}

.footer-card-1 {
    background-image: linear-gradient(rgba(166, 169, 240, 0.8), rgba(166, 169, 240, 0.8)), url(starter_files/images/donate.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    max-width: 33.3%;
}

.footer-card-2 {
    background-image: linear-gradient(rgba(166, 169, 240, 0.8), rgba(166, 169, 240, 0.8)), url(starter_files/images/volunteer.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    max-width: 33.3%;
}

.footer-card-3 {
    background-image: linear-gradient(rgba(166, 169, 240, 0.8), rgba(166, 169, 240, 0.8)), url(starter_files/images/location.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex: 1 1 auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    max-width: 33.3%;
}